.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 20px 40px;

    &-logo {
        margin-right: 48px;
    }

    &-left {
        display: flex;
        align-items: center;
    }
}